.pou {
    font-size: 35px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hr{
    width: 100PX;
    height: 4PX;
    background-color: #022a68;
    border-radius: 10px;
    margin-bottom: 10px
}
.acc{
font-size: 25px;
}
.space{
    font-weight: 600;
}
.ss{
    display: inline-block;
    text-decoration: none;
    color: black;
}
a:hover{
    color: #022a68;
}
.lol{
    font-size: 20px;
}
.list{
    float: left;
}
.back{
    width: 400px;
    height: 450px;
}
.ul{
    position: relative;
    left: 300px;
    bottom: 335px
}
.btn{
    position: absolute;
    left: 400px;
    bottom: 45px;
    color: #022a68;
    border-color: #022a68;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border-radius: 10px
}

.btn:hover{
    background-color: #022a68
}









.maher{
    margin-left: auto;
    font-family: 'Questrial', sans-serif;
    font-size: 25 ;
    font-weight: 1000 ;
}
.youssef{
    
    height: 70px;
}


.salma{
    background-color: #022a68 !important;
}













.footer{
      background-color: #022a68 !important;
      width:100%;
    padding-bottom:10px;
   
     }

.hh2{
    margin-top:50px;
    font-family: 'Pacifico', cursive;
    color:white;
    
}

.pp{
    color:white;
}





    


.copy{
    color:white;
}




.link{
margin-left:15px;}